#game {
  background: linear-gradient(#1e5a97, #62a7ee, #1e5a97);
  border: 20px solid #000;
  margin: auto;
  position: relative;
}

.bullet {
  border: 2px solid #000;
  background: rgba(0, 0, 0, 0.5);
  display: inline-block;
  position: absolute;
  box-sizing: border-box;
  border-radius: 9999px;
}

#turret {
  background: #000;
  position: absolute;
  transform-origin: 100% 50%;
  transform: rotate(90deg);
}